<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.learning.trace.android_learning_trace">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.Part1TextView_Toast_ButtonActivity" />
        <activity android:name=".view.activity.Part2CBtn_RBtn_RGp_TBtn_Switch_RatingBarActivity" />
        <activity android:name=".view.activity.BasicUIComponentP3Activity" />
        <activity android:name=".view.activity.BasicUIComponentP4Activity" />
        <activity android:name=".view.activity.Part5Activity" />
        <activity android:name=".view.activity.Part6Activity" />
        <activity android:name=".view.activity.Part7Activity" />
        <activity android:name=".view.activity.Part8Activity" />
        <activity android:name=".view.activity.Part9Activity" />
        <activity android:name=".view.activity.Part10Activity" />
        <activity android:name=".view.activity.Part11Activity" />
        <activity android:name=".view.activity.Part12Activity" />
        <activity android:name=".view.activity.Part13Activity" />
        <activity android:name=".view.activity.Part14Activity" />
        <activity android:name=".view.activity.Part15Activity" />
        <activity android:name=".view.activity.Part16Activity" />
        <activity android:name=".view.activity.Part17Activity" />
        <activity android:name=".view.activity.Part18Activity" />
        <activity android:name=".view.activity.Part19Activity" />
        <activity android:name=".view.activity.Part20StyleActivity" />
        <activity
            android:name=".view.activity.Part21ThemeActivity"
            android:theme="@style/MyAppTheme" />
        <activity android:name=".view.activity.Part22CustomizedViewActivity" />
        <activity android:name=".view.activity.Part23ScrollListViewActivity" />
        <activity android:name=".view.activity.Part24ActivityConceptActivity" />
        <activity android:name=".view.activity.Part24TransferDataActivity" />
        <activity android:name=".view.activity.Part24ResultActivity" />
        <activity
            android:name=".view.activity.Part24OrientationActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.Dialog" />
        <activity
            android:name=".view.activity.Part24ScreenChangeActivity"
            android:configChanges="keyboard|screenSize" />
        <activity android:name=".view.activity.Part24SaveDataActivity" />
        <activity android:name=".view.activity.Part25IntentActivity" />
        <activity android:name=".view.activity.Part25IntentTestActivity">
            <intent-filter android:priority="-1">
                <action android:name="android.learning.trace.android_learning_trace.action.INTENT_ACTION_TEST" />
                <action android:name="android.learning.trace.android_learning_trace.action.INTENT_DATA_TEST" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.google.ca"
                    android:scheme="http" />
                <data
                    android:host="www.youtube.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.Part25IntentTest2Activity">
            <intent-filter android:priority="1">
                <action android:name="android.learning.trace.android_learning_trace.action.INTENT_ACTION_TEST" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.learning.trace.android_learning_trace.category.INTENT_CATEGORY_TEST" />

                <data
                    android:host="www.google.ca"
                    android:mimeType="text/html"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.Part25StandardStartupActivity"
            android:launchMode="standard" />
    </application>

</manifest>