<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.learning.trace.android_learning_trace">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.BasicUIComponentP1Activity" />
        <activity android:name=".view.activity.BasicUIComponentP2Activity" />
        <activity android:name=".view.activity.BasicUIComponentP3Activity" />
        <activity android:name=".view.activity.BasicUIComponentP4Activity" />
        <activity android:name=".view.activity.Part5Activity" />
        <activity android:name=".view.activity.Part6Activity" />
        <activity android:name=".view.activity.Part7Activity" />
        <activity android:name=".view.activity.Part8Activity" />
        <activity android:name=".view.activity.Part9Activity" />
        <activity android:name=".view.activity.Part10Activity" />
        <activity android:name=".view.activity.Part11Activity" />
        <activity android:name=".view.activity.Part12Activity" />
        <activity android:name=".view.activity.Part13Activity" />
        <activity android:name=".view.activity.Part14Activity" />
        <activity android:name=".view.activity.Part15Activity" />
        <activity android:name=".view.activity.Part16Activity" />
        <activity android:name=".view.activity.Part17Activity" />
        <activity android:name=".view.activity.Part18Activity"></activity>
    </application>

</manifest>